body {

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
  

}


.header {

    display: flex;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 0 15%;
}

.header h3 {

    margin-right: auto;
    font-size: 24px;
    font-weight: 900;

}

.introduction{

    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 5% 15%;
 

}

.introduction p { 

    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.introduction-text {

    width: 500px;
}

.introduction-img {

    border: 1px solid #f9faf8;
    margin-left: auto;
}

h1 {
    margin: 0;
    font-weight: 900;
    font-size: 48px;
}

.introduction button {

    padding: 5px 20px;
    background-color: #3882f6;
    border: none;
    border-radius: 12%;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;

}

.plane{

    height: 250px;
    width: 500px;
}

ul {

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}